node_modules
.pnpm-store
packages/**/node_modules
packages/**/dist
apps/**/node_modules
apps/**/dist
apps/**/.next
apps/**/data
data
**/*.tsbuildinfo

.git
.gitignore
.vscode
.devcontainer

dist
build
coverage

Dockerfile*
docker-compose*

.env
